<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <Property name="LOG_DIR">/logs</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %level %logger - %msg%n"/>
        </Console>

        <RollingFile
                name="rollingFile"
                fileName="logs/latest.log"
                filePattern="logs/log-%d{yyyy-MM-dd}-%i.tar.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %level %logger - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>

</Configuration>